
.principal{
    background-image: url(https://wallpaperaccess.com/full/8094982.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: center;
    justify-content: center;
    align-items: center;
    background-color: #29962A;
}

.grid-card{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 3rem;
    
}

.select-menu{
    width: 13.125rem;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 35%;
    background-color: white;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: red;
    font-size: 0.8rem;
    &:hover{
        background-color: red;
        color: white;
        &::-webkit-scrollbar {
            background-color: red
        }
        &::-webkit-scrollbar-thumb {
            background-color: white;
        }   
    }
}

.select-menu-1{
    width: 12.5rem;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 24%;
    background-color: white;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: red;
    font-size: 0.8rem;
    &:hover{
        background-color: red;
        color: white;
        &::-webkit-scrollbar {
            background-color: red
        }
        &::-webkit-scrollbar-thumb {
            background-color: white;
        }   
    }
}

.button2{
    width: 120px;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 15%;
    height: 38px;
    display: block;
    border-radius: 8px;
    background-color: white;
    color: red;
    font-size: 0.7rem;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 1s ease;
    border: 1px solid white;
    font-weight: 700;
    
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        transition: all 1s ease;
        z-index: -1;
        height: 0%;
        width: 100%;
    }

    &--2::before{
        width: 0%;
        height: 100%;
    }

    &--2:hover{ 
        color: white;
        background-color: red;
        &::before{
            width: 100%;
            
        }
    }
    
}


.button3{
    width: 120px;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 8.5%;
    height: 38px;
    display: block;
    border-radius: 8px;
    background-color: white;
    color: red;
    font-size: 0.7rem;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 1s ease;
    border: 1px solid white;
    font-weight: 700;
    
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        transition: all 1s ease;
        z-index: -1;
        height: 0%;
        width: 100%;
    }

    &--3::before{
        width: 0%;
        height: 100%;
    }

    &--3:hover{ 
        color: white;
        background-color: red;
        &::before{
            width: 100%;
            
        }
    }
    
}

.button1{
    width: 120px;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 2.05%;
    height: 38px;
    display: block;
    border-radius: 8px;
    background-color: white;
    color: red;
    font-size: 0.7rem;
    text-transform: uppercase;
    overflow: hidden;
    transition: all 1s ease;
    border: 1px solid white;
    font-weight: 700;
    
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: white;
        transition: all 1s ease;
        z-index: -1;
        height: 0%;
        width: 100%;
    }

    &--1::before{
        width: 0%;
        height: 100%;
    }

    &--1:hover{ 
        color: white;
        background-color: red;
        &::before{
            width: 100%;
            
        }
    }
    
}